{% extends 'base.html.twig' %}

{% block title %}
  Andres Fernandez
{% endblock %}

{% block body %}
  <main class="site-wrapper">
    <div class="pt-table">
      <div class="pt-tablecell page-resume relative">
        <!-- .close -->
        <a href="./" class="page-close"><i class="tf-ion-close"></i></a>
        <!-- /.close -->

        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
              <div class="page-title text-center">
                <h2>My <span class="primary">CV</span> <span class="title-bg">CV</span></h2>
                <p>Determined, rigorous, and passionate professional who began programming in 2023. Vastly experienced in autonomous and collaborative execution of complex tasks requiring an elevated degree of analysis, critical thinking, and adaptability. Insatiable apprentice on an eternal quest to master his craft, no matter the challenge.</p>
              </div>
            </div>
          </div> <!-- /.row -->

          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="history-block">
                <div class="section-title light clear">
                  <h3>Education</h3>
                </div>
                <!-- /.section-title -->
                <div class="history-scroller">
                  <div class="history-item">
                    <div class="history-icon">
                      <span class="history-hex"></span>
                      <i class="tf-documents5"></i>
                    </div>
                    <div class="history-text">
                      <h5>Merin Land College</h5>
                      <span>2012 - 2014</span>
                    </div>
                  </div>
                  <!-- /.history-item -->
                  <div class="history-item">
                    <div class="history-icon">
                      <span class="history-hex"></span>
                      <i class="tf-documents5"></i>
                    </div>
                    <div class="history-text">
                      <h5>Merin Land College</h5>
                      <span>2012 - 2014</span>
                      <p>
                        Claritas est etiam processus dynamicus, qui <br /> sequitur mutationem consuetudium lectorum.
                      </p>
                    </div>
                  </div>
                  <!-- /.history-item -->
                  <div class="history-item">
                    <div class="history-icon">
                      <span class="history-hex"></span>
                      <i class="tf-documents5"></i>
                    </div>
                    <div class="history-text">
                      <h5>Merin Land College</h5>
                      <span>2012 - 2014</span>
                    </div>
                  </div>
                  <!-- /.history-item -->
                  <div class="history-item">
                    <div class="history-icon">
                      <span class="history-hex"></span>
                      <i class="tf-documents5"></i>
                    </div>
                    <div class="history-text">
                      <h5>Merin Land College</h5>
                      <span>2012 - 2014</span>
                    </div>
                  </div>
                  <!-- /.history-item -->
                  <div class="history-item">
                    <div class="history-icon">
                      <span class="history-hex"></span>
                      <i class="tf-documents5"></i>
                    </div>
                    <div class="history-text">
                      <h5>Merin Land College</h5>
                      <span>2012 - 2014</span>
                    </div>
                  </div>
                  <!-- /.history-item -->
                </div>
              </div> <!-- /.history-block -->
            </div> <!-- /.col -->
            <div class="col-xs-12 col-sm-6">
              <div class="history-block">
                <div class="section-title light clear">
                  <h3>Experiences</h3>
                </div>
                <!-- /.section-title -->
                <div class="history-scroller">
                  <div class="history-item">
                    <div class="history-icon">
                      <span class="history-hex"></span>
                      <i class="tf-documents5"></i>
                    </div>
                    <div class="history-text">
                      <h5>Merin Land College</h5>
                      <span>2012 - 2014</span>
                    </div>
                  </div>
                  <!-- /.history-item -->
                  <div class="history-item">
                    <div class="history-icon">
                      <span class="history-hex"></span>
                      <i class="tf-documents5"></i>
                    </div>
                    <div class="history-text">
                      <h5>Merin Land College</h5>
                      <span>2012 - 2014</span>
                      <p>
                        Claritas est etiam processus dynamicus, qui <br /> sequitur mutationem consuetudium lectorum.
                      </p>
                    </div>
                  </div>
                  <!-- /.history-item -->
                  <div class="history-item">
                    <div class="history-icon">
                      <span class="history-hex"></span>
                      <i class="tf-documents5"></i>
                    </div>
                    <div class="history-text">
                      <h5>Merin Land College</h5>
                      <span>2012 - 2014</span>
                    </div>
                  </div>
                  <!-- /.history-item -->
                  <div class="history-item">
                    <div class="history-icon">
                      <span class="history-hex"></span>
                      <i class="tf-documents5"></i>
                    </div>
                    <div class="history-text">
                      <h5>Merin Land College</h5>
                      <span>2012 - 2014</span>
                    </div>
                  </div>
                  <!-- /.history-item -->
                  <div class="history-item">
                    <div class="history-icon">
                      <span class="history-hex"></span>
                      <i class="tf-documents5"></i>
                    </div>
                    <div class="history-text">
                      <h5>Merin Land College</h5>
                      <span>2012 - 2014</span>
                    </div>
                  </div>
                  <!-- /.history-item -->
                </div>
              </div> <!-- /.history-block -->
            </div> <!-- /.col -->
          </div> <!-- /.row -->
        </div> <!-- /.container -->

        <nav class="page-nav clear">
          <div class="container">
            <div class="flex flex-middle space-between">
              <span class="prev-page"><a href="{{ path('app_projects') }}" class="link">&larr; Projects</a></span>
              <span class="next-page"><a href="#" class="link">Contact Me &rarr;</a></span>
            </div>
          </div>
          <!-- /.page-nav -->
        </nav>
        <!-- /.container -->
      </div> <!-- /.pt-tablecell -->
    </div> <!-- /.pt-table -->
  </main> <!-- /.site-wrapper -->
{% endblock %}
